* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}

body{
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#first_container{
    overflow: hidden;
}
@media (max-width:991px) {
    .navBar{
        position: fixed !important ;
        display: block;
    }
    .navBar1{
        display: none;
    }
    nav ul{
        margin: 0 20px ;
        list-style: none;
        text-align: left;
    }
    .navButton{
        width: 100%;
        background-color: black;
        border: 0;
        color: white;
        border-radius: 10px;
        font-size: 16px;
        height: 40px;
        opacity: 0;
        margin-top:30px;
    }
    #imgg img{
        display: none;
    }
}

@media (min-width:991px) {
    .navBar{
        display: none;
    }
    .navMenu{
        display: none !important;
    }
    nav ul{
        display: flex;
    }
    .navButton{
        background-color: black;
        border: 0;
        color: white;
        border-radius: 10px;
        font-size: 16px;
        height: 40px;
        width: 250px;
        margin: 0 50px;
    }
}

.navMenu button{
    background-color: black;
        border: 0;
        color: white;
        border-radius: 10px;
        font-size: 16px;
        height: 40px;
        width: 250px;
}

.navMenu{
    z-index: 100;
}



@media (max-width:700px) {
    .manImg{
        display: none;
    }
    .headSection{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:700px) and (max-width:850px){
    .manImg img{
        height: 300px;
    }
} 

#box1 button {
    color: white;
    background-color: black;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    height: 40px;
}

#box1 {
    box-sizing: border-box;
    background-color: rgba(201, 199, 199, 0.9);
    border-radius: 15px;
    margin: 0vh 20px 20px 20px; 
    margin: 20px;
    padding: 5vh;
    max-width: 380px;
    max-height: 800px;
}

#box1 h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
}

#box1 p {
    font-size: 1.1rem;
    line-height: 1.7rem;
} 



#scroll {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 240px;
    overflow: hidden;
    transition:5s ease;
    cursor: pointer;
}

#scroll img{
    border-radius: 10px;
}

#scroll img:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 10px #797978;
}

.scroll2{
    display: flex;
    overflow: auto ;
    height: 400px;
}

.scroll2 img{
    border-radius: 10px;
    height: 300px;
    margin: 20px;
}

.scroll1 img{
    transition: 0.5s ease;
    cursor: pointer;
}

.scroll1 img:hover{
    transform: scale(1.4);
}


.nolink img{
    height: 90px;
}

@media (max-width:900px) {
    .nolinkRow1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .nolinkRow1 div{
        margin: 20px;
    }
}


.gif{
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.gif div{
    transform: translate3d(0, 0, 0);
}

.gif .mover1 {
    margin: 30px 0;
    animation: moveSlideshow1 16s linear infinite;
}

@keyframes moveSlideshow1 {
    100% { 
      transform: translateY(-520%);  
    }
}

.gif .mover2{
    margin: 30px 0;
    animation: moveSlideshow2 16s linear infinite;
}

@keyframes moveSlideshow2 {
    100% { 
      transform: translateY(-450%);  
    }
  }

.gif .mover3{
    margin: 30px 0;
    animation: moveSlideshow3 16s linear infinite;
}

@keyframes moveSlideshow3 {
    100% { 
      transform: translateY(-450%);  
    }
  }

.gif .mover4{
    margin: 30px 0;
    animation: moveSlideshow4 16s linear infinite;
}

@keyframes moveSlideshow4 {
    100% { 
      transform: translateY(-450%);  
    }
  }

.gif img{
    height: 250px;
}

.img1{
    display: none;
}

.img2:hover .img1{
    display: block;
}





@media (max-width:850px){
    #row1{
        padding: 70px 0;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto;
        margin-left: 40px;
    }
    #col2{
        margin: 70px 0;
    }
    #img_name{
        margin:70px 0;
    }
}
@media (min-width:850px){
    #row1{
        padding: 90px 10px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    }
    #logos{
        grid-column: 1 /span 3;
    }
    
}

@media (min-width:770px){
    #image div{
        margin-left: 30px;
        position: absolute;
        top: 200px;
    }
}

@media (min-width:789px) {
    #formm{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    #form1{
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

@media (max-width: 850px) {
    #row2_sym{
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    #row2{
        display: flex;
        flex-direction: column;
    }
    #row2_sym nav{
        margin-top: 30px;
        align-self: center;
        flex-grow: 0;
    }
    #help{
        align-self: center;
        flex-grow: 0;
    }
    }

#first_container{
    background-color: #f8d200;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

.scrollDiv img{
    margin: 30px 50px;
    height: 80px;
    cursor: pointer;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-600%);
    }
}

.innerDiv img{
    filter: grayscale(100%);
}

.innerDiv img:hover{
    filter: grayscale(0%);
}

.grey{
    color: rgb(132, 131, 131);
}

#pics{
    margin: 200px 40px;
}

#formm{
    background-color: #f8d200;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form1{
    margin: 100px 0px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form1 h3{
    padding-bottom: 40px;
    font-size: 45px;
}

#form1 p{
    padding-bottom: 35px;
}

#form1 button{
    margin-top: 18px;
    background-color: black;
    color: white;
    height: 40px;
    border-radius:10px;
    width: 200px;
    margin-bottom: 40px;
}

#foot{
    background-color: black;
    color: white;
    /* height: 70vh; */
    list-style: none;
}

#logos img{
    height: 130px;
}

#col3 img{
    height: 30px;
}

#col1 li, #col2 li {
    padding: 8px;  
}

#col3 li, #col4 li{
    padding: 8px;
}

#col4 p{
    color: grey;
}

#img_name{
    display: flex;
}

#row2{
    padding: 50px 10px 40px 10px;
    list-style: none;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: baseline;
}

#row2 nav{
    display: flex;
}

#help{
    font-size: 12px;
    display: flex;
}

#help li{
    padding-right: 30px;
}

#row2 button{
    height: 100%;
    width: 300px;
    border-radius: 10px;
    font-size: 12px;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}





